{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
{% endblock %}

{% block content %}

<body class="website-background-white">
	<div class="max-width">
		<div class="logo">
			<div class="logo-inner">
				<a href="/" class="label-logo on-hover--40 text-color-black"></a>
			</div>
		</div>
		<div class="top-bottom-margin animate">
			<div class="hide-text-block">
				<h3 class="text-color-black max-width horizontal-center">
					Technically skilled, <br>
					people-oriented leader
				</h3>
			</div>
			<!-- <div class="hero-image-full">
				<img draggable="false" class="hero-image hero-image-full animate delay02 hero-image-fade"
					src="../static/img/hero-image.png" data-src="../static/img/hero-image.png">
				<noscript><img draggable="false" src="../static/img/hero-image.png"></noscript>
			</div> -->
			<div class="max-width-70 text-color-black experience-spacing">
				<h5 class="text-color-red experience-spacing">About</h5>
				<p class="size-large">
					Hi, I’m Teagan Petterson. As an emerging software developer with extensive experience in leadership
					I'm excited to find a role that will allow me to do good for others while pushing me to grow.
				</p>
				<p>
					I have enjoyed developing my expertise in a number of areas over the course of my life and career.
					My
					personality type is
					<a class="underline text-color-black" href="http://www.personalitypage.com/ENFJ.html"
						target="_blank"> ENFJ</a>.
					I currently work remotely with a selected freelance client base and are open for new
					opportunities.
				</p>
				<p>
					Since my junior year of high school, I've consistently found myself in leadership roles, an
					experience that has
					profoundly shaped my outlook and approach. These opportunities have not only fueled my passion for
					collaborating with
					individuals possessing diverse strengths but have also emphasized the value of effective teamwork in
					achieving
					exceptional outcomes. Interestingly, I once held the belief that the tech industry was characterized
					by isolation,
					prompting me to steer clear. However, my perspective completely shifted when two of my closest
					friends ventured into software sevelopment and experienced the inherently collaborative nature of
					the tech domain.

				</p>
				<p>
					My journey took an intriguing turn during my tenure at Crumbl Cookies, where I crisscrossed the
					nation, sharing
					operational expertise to varying management and ownership teams. This role not only honed my
					leadership abilities but
					also exposed me to the power of meaningful interactions and shared objectives. It was during this
					time that one of my
					tech-savvy friends recommended HackBright, recognizing the potential benefit of using my current
					skill-set in the world
					of software.
				</p>
				<p>
					After my exposure to software development courses in college, the transition into the immersive
					curriculum at HackBright
					was seamless. Now, armed with a foundation in full-stack software development, I am eager to find a
					role that not only
					allows me to apply my technical prowess but also pushes me to utilize my strengths at cultivating
					meaningful
					relationships and effective collaboration. My leadership background, coupled with my newfound
					software expertise,
					uniquely positions me to contribute effectively to a dynamic and collaborative software team.
				</p>
				<p>
					You can read more about my experience, skills, education and much more throughout this website,
					or
					in my resume attached below:
				</p>
				<div class="links" data-aos="fade-up">
					<a class="on-hover-40 text-color-red" href="../static/teagan-petterson-resume.pdf"
						target="_blank">My
						resume</a>
				</div>
			</div>

		</div>
	</div>
</body>
{% endblock %}

{% block scripts %}

{% endblock %}