{% extends "base.html" %}

{% block title %}Experience{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="styles.css">
{% endblock %}

{% block content %}

<body class="website-background-black">
	<div class="max-width">
		<div class="logo">
			<div class="logo-inner">
				<a href="/" class="label-logo on-hover--40 text-color-white"></a>
			</div>
		</div>
		<div class="top-bottom-margin animate" style="margin:25vh 0 30vh 0;">
			<h1>
				<a href="/projects" class="hover-adjust">
					<div class="text-color-red on-hover-40 label-software animate">
					</div>
				</a>
			</h1>
			<h1 style="margin: 30vh 0 30vh 0;">
				<a href="/work">
					<div class="text-color-white on-hover-40 label-professional animate delay04">
					</div>
				</a>
			</h1>
		</div>
	</div>
</body>
{% endblock %}

{% block scripts %}

{% endblock %}