{% extends "base.html" %}

{% block title %}Experience{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="styles.css">
{% endblock %}

{% block content %}
<div class="max-width">
	<div class="logo">
		<div class="logo-inner">
			<a href="/" class="label-logo on-hover--40 text-color-black"></a>
		</div>
	</div>
	<div class="top-bottom-margin animate" style="margin:25vh 0 30vh 0;">
		<h1>
			<a href="/projects" class="hover-adjust">
				<div class="text-color-black on-hover-40 hover-adjust animate">
					Software
				</div>
			</a>
		</h1>
		<h1 style="margin: 30vh 0 30vh 0;">
			<a href="/work">
				<div class="text-color-black on-hover-40 hover-adjust animate delay04">
					Professional
				</div>
			</a>
		</h1>
	</div>
</div>

{% endblock %}

{% block scripts %}

{% endblock %}