{% extends "base.html" %}

{% block title %}Teagan Petterson{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
{% endblock %}

{% block content %}

<!-- <div class="vertical-center max-width animate delay06">
	<h1 class="text-color-white label-hello on-hover-40 animate delay10" data-hover="About">Hello.</h1>
	<h1 class="text-color-white label-iam on-hover-40 animate delay10 hide-mobile">I am</h1>
	<h1 class="text-color-white label-teagan on-hover-40 animate delay10 hide-web">Teagan</h1>
</div> -->

<div class="vertical-center animate max-width-left-70">
	<h1>
		<div class="text-color-white label-hello on-hover-40 animate ">About</div>

		<div class="text-color-red label-iam on-hover-40 animate delay04">Experience</div>

		<div class="text-color-red label-teagan on-hover-40 animate delay08">Contact</div>

	</h1>
</div>

<script>
	const labels = document.querySelectorAll('.label-hello, .label-iam, .label-teagan');
	labels.forEach(label => {
		label.addEventListener('load', () => {
			label.textContent = label.getAttribute('data-original')
		})
		label.addEventListener('mouseover', () => {
			label.textContent = label.getAttribute('data-hover');
		});
		label.addEventListener('mouseout', () => {
			label.textContent = label.getAttribute('data-original');
		});
		label.addEventListener('click', () => {
			// Add your Flask route redirection logic here
			console.log("Redirecting to route:", label.getAttribute('data-route'));
		});
	});

	const emailLabel = document.querySelector('.label-email');
	emailLabel.addEventListener('click', () => {
		const email = "teagan.petterson1@gmail.com";
		navigator.clipboard.writeText(email).then(() => {
			emailLabel.textContent = "Email copied";
		}).catch(() => {
			emailLabel.textContent = "Copy to clipboard";
		});
	});
</script>

{% endblock %}

{% block scripts %}

{% endblock %}