{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
{% endblock %}

{% block content %}
<div class="max-width experience-spacing">
	<div class="logo">
		<div class="logo-inner">
			<a href="/" class="label-logo on-hover--40 text-color-black"></a>
		</div>
	</div>
	<div class="top-bottom-margin animate">
		<div class="text-color-black experience-spacing job" id="goodShift">
			<h3 class="on-hover-40">
				GoodShift
			</h3>
			<p class="size-small text-color-red">
				Full-Stack TypeScript Website<br>
				Tool designed to help restaurant shift leads organize their labor for any given point in the day.
			</p>
			<ul class="size-small text-color-black job-description">
				<li>
					Backend
					<ul>
						<li>TypeScript</li>
						<li>node.js</li>
					</ul>
				</li>
				<li>
					Frontend
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>React</li>
					</ul>
				</li>
				<li>
					Data
					<ul>
						<li>PostgreSQL</li>
						<li>TypeORM</li>
					</ul>
				</li>
				<a class="text-color-red">GitHub repo is private</a>
			</ul>
		</div>
		<div class="text-color-black experience-spacing job" id="stockMonitor">
			<h3 class="on-hover-40">
				Stock Portfolio Monitor
			</h3>
			<p class="size-small text-color-red">
				Full-Stack Python Website<br>
				Practice using RobinHood's API to track my stock portfolio and alert me of changes using Twilio.
			</p>
			<ul class="size-small text-color-black job-description">
				<li>
					Backend
					<ul>
						<li>Python</li>
						<li>Flask</li>
						<li>JavaScript</li>
					</ul>
				</li>
				<li>
					Frontend
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Jinja</li>
					</ul>
				</li>
				<li>
					Data
					<ul>
						<li>PostgreSQL</li>
						<li>SQLAlchemy</li>
					</ul>
				</li>
				<a class="text-color-red">GitHub repo is private</a>
			</ul>
		</div>
		<div class="text-color-black experience-spacing job" id="movieRating">
			<h3 class="on-hover-40">
				Movie Ratings
			</h3>
			<p class="size-small text-color-red">
				Full-Stack Python Website<br>
				Practice using databases by allowing users to rate movies and view ratings of movies.
			</p>
			<ul class="size-small text-color-black job-description">
				<li>
					Backend
					<ul>
						<li>Python</li>
						<li>Flask</li>
						<li>JavaScript</li>
					</ul>
				</li>
				<li>
					Frontend
					<ul>
						<li>HTML</li>
						<li>CSS</li>
						<li>Jinja</li>
						<li>React</li>
					</ul>
				</li>
				<li>
					Data
					<ul>
						<li>PostgreSQL</li>
						<li>SQLAlchemy</li>
					</ul>
				</li>
				<a class="text-color-red on-hover-40 hover-adjust"
					href="https://github.com/TeaganPetterson/MovieRatings">GitHub</a>
			</ul>
		</div>
		<div class="text-color-black experience-spacing job" id="ticTacToe">
			<h3 class="on-hover-40">
				Tic Tac Toe
			</h3>
			<p class="size-small text-color-red">
				Full-Stack JavaScript Game<br>
				Tic Tac Toe game that keeps score and alerts the winner automatically.
			</p>
			<ul class="size-small text-color-black job-description">
				<li>
					Backend
					<ul>
						<li>JavaScript</li>
						<li>node.js</li>
					</ul>
				</li>
				<li>
					Frontend
					<ul>
						<li>HTML</li>
						<li>CSS</li>
					</ul>
				</li>
				<a class="text-color-red on-hover-40 hover-adjust"
					href="https://github.com/TeaganPetterson/TicTacToe">GitHub</a>
			</ul>
		</div>
		<div class="text-color-black experience-spacing job" id="csvComparison">
			<h3 class="on-hover-40">
				CSV Comparator
			</h3>
			<p class="size-small text-color-red">
				Backend Python Script<br>
				Python Script that compares two CSV files to find missing data and fill in the blank spots.
			</p>
			<ul class="size-small text-color-black job-description">
				<li>
					Backend
					<ul>
						<li>Python</li>
						<li>ZSH</li>
					</ul>
				</li>
				<li>
					Data
					<ul>
						<li>PostgreSQL</li>
						<li>SQL</li>
					</ul>
				</li>
				<a class="text-color-red on-hover-40 hover-adjust"
					href="https://github.com/TeaganPetterson/csv_script_cg">GitHub</a>
			</ul>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
	const jobTitles = document.querySelectorAll('.job');
	const jobDescriptions = document.querySelectorAll('.job-description');

	jobTitles.forEach((title, index) => {
		title.addEventListener('click', () => {
			jobDescriptions[index].classList.toggle('show-description');
		});
	});
</script>
{% endblock %}