{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
{% endblock %}

{% block content %}
<div class="max-width experience-spacing">
	<div class="text-color-black experience-spacing">
		<h3>
			HackBright Academy
		</h3>
		<p class="size-small text-color-red">
			Software Engineering Fellow
		</p>
	</div>
	<div class="text-color-black experience-spacing">
		<h3>
			Chick-Fil-A
		</h3>
		<p class="size-small text-color-red">
			Manager, Training and Development
		</p>
	</div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}