{% extends "base.html" %}

{% block title %}Projects{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/styles.css">
{% endblock %}

{% block content %}
<div>
	<div class="text-color-white left-align">
		<h3>
			Software Engineering Fellow
		</h3>
		<h4>
			<div class="text-color-red">
				HackBright Academy
			</div>
		</h4>
		<p>
			Completed accelerated Software Engineering course
		</p>
	</div>
	<div class="text-color-white right-align">
		<h3>
			Manager, Training and Development
		</h3>
		<h4>
			<div class="text-color-red">
				Chick-Fil-A
			</div>
		</h4>
		<p>
			a;sldkjf;laksjdf;laksjdf
		</p>
	</div>

</div>

{% endblock %}

{% block scripts %}

{% endblock %}